In [1]:
import os
import re
import numpy as np
import pandas as pd

In [60]:
reader = pd.read_csv(r'D:\OneDrive\python\data\ccFraud.csv',
                     sep=',',
                     chunksize=1000000)

In [43]:
reader.head()

,custID,gender,state,cardholder,balance,numTrans,numIntlTrans,creditLine,fraudRisk
0,1,1,35,1,3000,4,14,2,0
1,2,2,2,1,0,9,0,18,0
2,3,2,2,1,0,27,9,16,0
3,4,1,15,1,0,12,0,5,0
4,5,1,46,1,0,11,16,7,0

In [44]:
reader.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 9 columns):
custID          int64
gender          int64
state           int64
cardholder      int64
balance         int64
numTrans        int64
numIntlTrans    int64
creditLine      int64
fraudRisk       int64
dtypes: int64(9)
memory usage: 686.6 MB

In [65]:
reader

In [67]:
for chunk in reader:
    print(chunk.shape[0])
#     print(chunk.head())
    print('='*50)

In [49]:
import re

In [58]:
m = re.match(r'a([bcd]*)e','abce')

In [59]:
m.string

'abce'