- 导入库

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

- 导入数据

In [2]:
with pd.ExcelFile(r'C:\百度云同步盘\小鸡理财\数据报告\月报\2月\经典转存管.xlsx') as xlsx:
    df_hk = pd.read_excel(xlsx,'回款')
    df_cz = pd.read_excel(xlsx,'充值')
    df_tz = pd.read_excel(xlsx,'投资')
    df_md = pd.read_excel(xlsx,'大额名单')
    df_rz = pd.read_excel(xlsx,'认证')

1.把所有表格内身份证里的字母都转换成大写

In [3]:
df_hk['身份证'] = df_hk['身份证'].str.upper()
df_cz['身份证'] = df_cz['身份证'].str.upper()
df_tz['身份证'] = df_tz['身份证'].str.upper()
df_md['身份证'] = df_md['身份证'].str.upper()
df_rz['身份证'] = df_rz['身份证'].str.upper()

2.数据清洗，去除有空值的行

In [4]:
df_hk.dropna(inplace=True)
df_cz.dropna(inplace=True)
df_tz.dropna(inplace=True)
df_md.dropna(inplace=True)
df_rz.dropna(inplace=True)

3.统计经典版回款的所有用户，并分为大额和非大额

In [5]:
df_yh = df_hk['身份证'].drop_duplicates()

总人数

In [6]:
df_yh.shape

(4871,)

大额用户

In [7]:
df_dae_yh = df_md['身份证']

非大额用户

In [8]:
df_pt_yh = df_yh[~df_yh.isin(df_dae_yh)]

In [9]:
df_pt_yh.shape

(4566,)

4.统计所拥有，大额、普通用户开通存管比例

In [10]:
df_yh.isin(df_rz['身份证']).value_counts()

True     4744
False     127
Name: 身份证, dtype: int64

In [11]:
df_dae_yh.isin(df_rz['身份证']).value_counts()

True     297
False      9
Name: 身份证, dtype: int64

In [12]:
df_pt_yh.isin(df_rz['身份证']).value_counts(normalize=True)

True     0.973938
False    0.026062
Name: 身份证, dtype: float64

4-1.排除用户中年龄小于18岁的

In [13]:
def is18(x):
    birth_date = pd.to_datetime(x[6:14])
    age = (pd.datetime.now() - birth_date) / np.timedelta64(1, 'Y')
    
    if age < 18:
        return False
    else:
        return True

In [14]:
df_yh.apply(is18).value_counts()

True     4869
False       2
Name: 身份证, dtype: int64

5.统计开通存管用户在存管投资比例

5-1.统计3.5以后投资名单

In [15]:
df_tz.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68914 entries, 0 to 68913
Data columns (total 3 columns):
投资额    68914 non-null float64
时间     68914 non-null object
身份证    68914 non-null object
dtypes: float64(1), object(2)
memory usage: 2.1+ MB

In [16]:
df_tz['时间'] = pd.to_datetime(df_tz['时间'])

In [17]:
df_tz_0305 = df_tz.loc[df_tz['时间'] > '2018-03-05','身份证'].unique()

In [18]:
df_tz_0305.shape

(6022,)

5-2.统计开通存管用户在存管投资比例

In [19]:
df_yh[df_yh.isin(df_rz['身份证'])].isin(df_tz_0305).value_counts()

True     3003
False    1741
Name: 身份证, dtype: int64

In [20]:
df_dae_yh[df_dae_yh.isin(df_rz['身份证'])].isin(df_tz_0305).value_counts()

True     270
False     27
Name: 身份证, dtype: int64

In [21]:
df_pt_yh[df_pt_yh.isin(df_rz['身份证'])].isin(df_tz_0305).value_counts()

True     2733
False    1714
Name: 身份证, dtype: int64

6.统计全体回款-新充-投资比例

6-1.将表格“日期时间”列转换为日期格式，type仍为str

In [22]:
# df_hk['时间'] = pd.to_datetime(df_hk['时间']).dt.date
df_cz['时间'] = pd.to_datetime(df_cz['时间']).dt.date
df_tz['时间'] = pd.to_datetime(df_tz['时间']).dt.date

6-2.回款、充值、投资表格的各自数据按日期合并

In [23]:
df_hk = df_hk.groupby(['时间','身份证'],as_index=False).sum()
df_cz = df_cz.groupby(['时间','身份证'],as_index=False).sum()
df_tz = df_tz.groupby(['时间','身份证'],as_index=False).sum()

In [24]:
df_cz[df_cz['身份证'] == '110102198305263080'].head(2)

             时间                 身份证     充值金额
0    2018-03-01  110102198305263080  15134.0
207  2018-03-02  110102198305263080  10000.0

6-3.合并三表

In [25]:
gp_temp = pd.merge(df_hk,df_cz,on = ['时间','身份证'],how = 'outer')
gp = pd.merge(gp_temp,df_tz,on = ['时间','身份证'],how = 'outer')
gp['时间'] = pd.to_datetime(gp['时间'])
gp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131891 entries, 0 to 131890
Data columns (total 5 columns):
时间      131891 non-null datetime64[ns]
身份证     131891 non-null object
回款金额    66644 non-null float64
充值金额    37300 non-null float64
投资额     55123 non-null float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 6.0+ MB

6-4.扩充每个用户的数据到20180301-20190228的每一天

In [26]:
t = pd.date_range(start='20180301', end='20190228', freq='D')
time_df = pd.DataFrame({'时间':t})
print(time_df.head(3))

#构造一个二级行索引，使得每人对应20180301-20190228的每一天
index = pd.MultiIndex.from_product([time_df['时间'],df_yh], names = ['时间','身份证'])
s = pd.Series(1,index=index)

df= s.to_frame().reset_index()
del df[0]

          时间
0 2018-03-01
1 2018-03-02
2 2018-03-03

In [27]:
df.head(3)

          时间                 身份证
0 2018-03-01  230702196911160023
1 2018-03-01  412728198802084920
2 2018-03-01  422126199008182516

6-5.合并6-3和6-4

In [28]:
gp_tm = pd.merge(df,gp,on=['时间','身份证'],how='left')
gp_tm.head()

          时间                 身份证  回款金额  充值金额  投资额
0 2018-03-01  230702196911160023   NaN   NaN  NaN
1 2018-03-01  412728198802084920   NaN   NaN  NaN
2 2018-03-01  422126199008182516   NaN   NaN  NaN
3 2018-03-01  522132197211030923   NaN   NaN  NaN
4 2018-03-01  370226196507090224   NaN   NaN  NaN

6-6. 整理新表

In [29]:
gp_tm.fillna(0,inplace=True)

6-7.按每个用户计算累加值

In [30]:
gp_tm['累计回款'] = gp_tm.groupby(['身份证'])['回款金额'].apply(lambda x: x.cumsum())
gp_tm['累计充值'] = gp_tm.groupby(['身份证'])['充值金额'].apply(lambda x: x.cumsum())
gp_tm['累计投资'] = gp_tm.groupby(['身份证'])['投资额'].apply(lambda x: x.cumsum())

6-8.累加值：还款>充值>账户

In [31]:
gp_tm['累计充值_ok'] = np.where(gp_tm['累计回款'] < gp_tm['累计充值'],gp_tm['累计回款'],gp_tm['累计充值'])
gp_tm['累计投资_ok'] = np.where(gp_tm['累计充值_ok'] < gp_tm['累计投资'],gp_tm['累计充值_ok'],gp_tm['累计投资'])

In [32]:
result = gp_tm.loc[:,['时间','身份证','累计回款','累计投资_ok']]

7-1.统计大额用户回款-投资比例

In [33]:
res_dae = result[result['身份证'].isin(df_dae_yh)]

In [34]:
(res_dae.groupby('时间').sum()).to_excel('dae.xlsx')

7-2.统计普通用户回款-投资比例

In [35]:
res_pt = result[result['身份证'].isin(df_pt_yh)]

In [36]:
(res_pt.groupby('时间').sum()).to_excel('pt.xlsx')

In [37]:
discard_bellow

NameError: name 'discard_bellow' is not defined

In [ ]:
gp_tm[gp_tm['身份证'] == '230702196911160023']

In [ ]:
df = gp_tm[gp_tm['身份证'] == '230702196911160023']
df.info()

In [ ]:
df.set_index('时间',inplace=True)

In [ ]:
x = df.truncate(after='2018-03-6').sum()

In [ ]:
x['充值金额']

In [ ]:
x

In [ ]:
x['充充值金额'] = 50

In [ ]:
x

In [ ]:
df.loc['2018-03-01','回款金额'] = 5000

In [ ]:
df.head(1)

In [ ]:
for i in df_yh:
    df_tp = gp_tm[gp_tm['身份证'] == i]
    df_tp.set_index('时间',inplace=True)
    
    for d in t:
        x = df_tp.truncate(after = d).sum()
        
        if x['回款金额'] < x['充值金额']:
            df_tp.loc[d,'充值金额'] = x['充值金额'] - x['回款金额']

- 整理数据：保留到日期，筛选出大额用户

- 保留日期的方法

仅保留日期
df['just_date'] = df['dates'].dt.date

保留日期和时间
df['normalised_date'] = df['dates'].dt.normalize()

In [ ]:
df_hk['时间'] = pd.to_datetime(df_hk['发放时间'])
df_hk['身份证'] = df_hk['身份证'].str.upper()
df_md['身份证'] = df_md['身份证'].str.upper()

df_hk_ok = df_hk[df_hk['身份证'].isin(df_md['身份证'])]
del df_hk_ok['发放时间']
df_hk_ok.head()

In [ ]:
df_cz['身份证'] = df_cz['身份证'].str.upper()
df_cz['时间'] = pd.to_datetime(df_cz['成功时间']).dt.date

df_cz_ok = df_cz[df_cz['身份证'].isin(df_md['身份证'])]
del df_cz_ok['成功时间']
df_cz_ok.head()

In [ ]:
df_tz['身份证'] = df_tz['身份证'].str.upper()
df_tz['时间'] = pd.to_datetime(df_tz['投资时间']).dt.date

df_tz_ok = df_tz[df_tz['身份证'].isin(df_md['身份证'])]
del df_tz_ok['投资时间']
df_tz_ok.head()

- 合并回款、充值、投资

In [ ]:
df_hk_gp = df_hk_ok.groupby(['时间','身份证'],as_index=False).sum()
df_cz_gp = df_cz_ok.groupby(['时间','身份证'],as_index=False).sum()
df_tz_gp = df_tz_ok.groupby(['时间','身份证'],as_index=False).sum()

In [ ]:
df_hk_gp['时间'] = pd.to_datetime(df_hk_gp['时间'])
df_cz_gp['时间'] = pd.to_datetime(df_cz_gp['时间'])
df_tz_gp['时间'] = pd.to_datetime(df_tz_gp['时间'])

In [ ]:
gp_temp = pd.merge(df_hk_gp,df_cz_gp,on = ['时间','身份证'],how = 'outer')
gp = pd.merge(gp_temp,df_tz_gp,on = ['时间','身份证'],how = 'outer')
gp.info()

- ！扩充每个用户的数据到20180301-20180731的每一天

In [ ]:
time = pd.DataFrame({'时间':pd.date_range(start='20180301', end='20180731', freq='D')})
time

#构造一个二级行索引，使得每人对应20180301-20180731的每一天
index = pd.MultiIndex.from_product([time['时间'],df_md['身份证']], names = ['时间','身份证'])
s = pd.Series(1,index=index)

df= s.to_frame().reset_index()
del df[0]
df.info()
df.head()

In [ ]:
gp_tm = pd.merge(df,gp,on=['时间','身份证'],how='left')
gp_tm

- 按每个用户计算累加值

In [ ]:
gp_tm.fillna(0,inplace=True)

In [ ]:
gp_tm['累计还款'] = gp_tm.groupby(['身份证'])['还款金额'].apply(lambda x: x.cumsum())
gp_tm['累计充值'] = gp_tm.groupby(['身份证'])['充值金额'].apply(lambda x: x.cumsum())
gp_tm['累计投资'] = gp_tm.groupby(['身份证'])['账户资金'].apply(lambda x: x.cumsum())

In [ ]:
gp_tm.head()

In [ ]:
gp_tm[gp_tm['身份证']=='130406198605270317']

- 累加值：还款>充值>账户

In [ ]:
gp_tm['累计充值_ok'] = np.where(gp_tm['累计还款'] < gp_tm['累计充值'],gp_tm['累计还款'],gp_tm['累计充值'])
gp_tm['累计投资_ok'] = np.where(gp_tm['累计充值_ok'] < gp_tm['累计投资'],gp_tm['累计充值_ok'],gp_tm['累计投资'])

- 按日汇总数据

In [ ]:
res = gp_tm.groupby('时间')['累计还款','累计投资_ok'].sum()
res

- 导出结果

In [ ]:
res.to_excel('大额用户经典版回款新充投资比.xlsx')