In [1]:
import os
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
# %matplotlib inline

In [2]:
# from pylab import mpl

# mpl.rcParams['font.sans-serif'] = ['Microsoft YaHei'] # 指定默认字体
# mpl.rcParams['axes.unicode_minus'] = False # 解决保存图像是负号'-'显示为方块的问题

In [3]:
with pd.ExcelFile(r"C:\百度云同步盘\小鸡理财\数据报告\用户类报告\大额用户\12月版本\大额用户1.xlsx") as xlsx:
#     df_kt = pd.read_excel(xlsx,'存管开通')
    df_md = pd.read_excel(xlsx,'名单')
    df_tz = pd.read_excel(xlsx,'投资')
#     df_cg_zht = pd.read_excel(xlsx,'智慧投')
#     df_jd_tz = pd.read_excel(xlsx,'经典投资')
    df_hk = pd.read_excel(xlsx,'经典回款')
#     df_jd_cz = pd.read_excel(xlsx,'经典充值')
    df_cz = pd.read_excel(xlsx,'充值')
#     df_cg_hk = pd.read_excel(xlsx,'存管回款')

In [4]:
df_hk['身份证'] = df_hk['身份证'].str.upper()
df_md['身份证'] = df_md['身份证'].str.upper()

In [6]:
df_hk = pd.merge(df_hk,df_md,
                on = '身份证',
                how='left')

In [ ]:
discard_hk = df_hk.loc[df_hk['用户名'].isnull()]

In [ ]:
discard_hk.head()

In [7]:
df_hk = df_hk.loc[df_hk['用户名'].notnull()]

In [9]:
df_hk.head()

                  身份证       发放时间     回款金额                    用户名
0  110101195705155011 2018-03-17    22.50  XJLC_1015623946910d5d
1  110101195705155011 2018-03-18     9.58  XJLC_1015623946910d5d
2  110101195705155011 2018-04-17    22.50  XJLC_1015623946910d5d
3  110101195705155011 2018-04-18  1009.60  XJLC_1015623946910d5d
4  110101195705155011 2018-05-17    22.50  XJLC_1015623946910d5d

In [10]:
df_hk.rename(columns={'发放时间':'时间','用户名':'会员名'},inplace=True)
df_cz.rename(columns={'成功时间':'时间'},inplace=True)
df_tz.rename(columns={'投资时间':'时间','投资用户':'会员名'},inplace=True)

In [11]:
df_hk = df_hk.sort_values(by='时间')
df_hk.head()

                      身份证         时间      回款金额                    会员名
35461  330283198811046729 2018-03-05  22192.50  XJLC_24063240009a6acd
42504  332621196810203046 2018-03-05     17.50    XJLC_798299702fc4b6
2724   140202196211024515 2018-03-05   1210.50  XJLC_48040143499b7710
42412  332621196505171260 2018-03-05    772.49  XJLC_9183410883764ee0
42235  332602197503215819 2018-03-05      2.87   XJLC_63467343881a688

In [12]:
df_cz = df_cz.sort_values(by='时间')
df_cz.head()

                         会员名         时间    充值金额
12828  XJLC_56645135463d89a7 2018-03-06  3001.0
2334    XJLC_1871769633f635e 2018-03-06  3963.0
1090   XJLC_136441596749b136 2018-03-06  3000.0
15034   XJLC_65914784814e484 2018-03-06     8.0
1081   XJLC_136072611557f0e0 2018-03-06  2079.0

In [13]:
df_tz = df_tz.sort_values(by='时间')
df_tz.head()

                       会员名         时间     新充投资
0    XJLC_10359242309825cb 2018-03-06    100.0
180  XJLC_67225231248c4eaf 2018-03-06  10000.0
181  XJLC_67507132067568a9 2018-03-06   1000.0
182   XJLC_6750756184fb6fa 2018-03-06    100.0
183  XJLC_682682605374dbf5 2018-03-06  10000.0

In [14]:
df_hk['时间'] = df_hk['时间'].astype(str)
df_cz['时间'] = df_cz['时间'].astype(str)
df_tz['时间'] = df_tz['时间'].astype(str)

In [15]:
gp_big_temp = pd.merge(df_hk,df_cz,on = ['时间','会员名'],how = 'outer')
gp_big_hcxt = pd.merge(gp_big_temp,df_tz,on = ['时间','会员名'],how = 'outer')

In [ ]:
gp_big_hcxt.head(10)

In [16]:
gp_big_hcxt.fillna(0,inplace=True)

In [17]:
md = df_hk['会员名'].unique()

In [ ]:
# ！扩充每个用户的数据到20180301-20181231的每一天

In [18]:
time = pd.DataFrame({'时间':pd.date_range(start='20180305', end='20181231', freq='D')})

#构造一个二级行索引，使得每人对应20180305-20181231的每一天
index = pd.MultiIndex.from_product([time['时间'],md], names = ['时间','会员名'])
s = pd.Series(1,index=index)

df_big_time = s.to_frame().reset_index()
del df_big_time[0]
df_big_time.head()

          时间                    会员名
0 2018-03-05  XJLC_24063240009a6acd
1 2018-03-05    XJLC_798299702fc4b6
2 2018-03-05  XJLC_48040143499b7710
3 2018-03-05  XJLC_9183410883764ee0
4 2018-03-05   XJLC_63467343881a688

In [ ]:
df_big_time.info()

In [19]:
df_big_time['时间'] = df_big_time['时间'].astype(str)

In [20]:
gp_big_hcxt_0 = pd.merge(df_big_time,gp_big_hcxt,on=['时间','会员名'],how='left')

In [21]:
gp_big_hcxt_0.fillna(0,inplace=True)

In [24]:
gp_big_hcxt_0.dtypes

时间      datetime64[ns]
会员名             object
身份证             object
回款金额           float64
充值金额           float64
新充投资           float64
dtype: object

In [23]:
gp_big_hcxt_0['时间'] = pd.to_datetime(gp_big_hcxt_0['时间'])

In [26]:
gp_big_hcxt_0.tail(10)

                时间                    会员名 身份证  回款金额  充值金额  新充投资
1430866 2018-12-31  XJLC_8106923807061a48   0   0.0   0.0   0.0
1430867 2018-12-31  XJLC_27008253677118bd   0   0.0   0.0   0.0
1430868 2018-12-31  XJLC_54774140686b02ef   0   0.0   0.0   0.0
1430869 2018-12-31  XJLC_8437115982672405   0   0.0   0.0   0.0
1430870 2018-12-31  XJLC_32164119257b44ce   0   0.0   0.0   0.0
1430871 2018-12-31  XJLC_82627260793e7bbc   0   0.0   0.0   0.0
1430872 2018-12-31  XJLC_59509166788e27fe   0   0.0   0.0   0.0
1430873 2018-12-31  XJLC_190772001901fa9c   0   0.0   0.0   0.0
1430874 2018-12-31  XJLC_455772468090a899   0   0.0   0.0   0.0
1430875 2018-12-31  XJLC_100931981834c8d4   0   0.0   0.0   0.0

In [28]:
gp_big_hcxt_0 = gp_big_hcxt_0.sort_values(by=['时间'])

In [ ]:
bug

In [30]:
gp_big_hcxt_0['累计还款'] = gp_big_hcxt_0.groupby(['会员名'])['回款金额'].apply(lambda x: x.cumsum())
gp_big_hcxt_0['累计充值'] = gp_big_hcxt_0.groupby(['会员名'])['充值金额'].apply(lambda x: x.cumsum())
gp_big_hcxt_0['累计投资'] = gp_big_hcxt_0.groupby(['会员名'])['新充投资'].apply(lambda x: x.cumsum())

In [35]:
gp_big_hcxt_0[gp_big_hcxt_0['会员名'] == 'XJLC_190772001901fa9c']

,时间,会员名,身份证,回款金额,充值金额,新充投资,累计还款,累计充值,累计投资
4735,2018-03-05,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,0.00,0.0
9473,2018-03-06,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,0.00,0.0
14211,2018-03-07,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,0.00,0.0
18949,2018-03-08,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,0.00,0.0
23687,2018-03-09,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,0.00,0.0
28425,2018-03-10,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,0.00,0.0
33163,2018-03-11,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,0.00,0.0
37901,2018-03-12,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,0.00,0.0
42639,2018-03-13,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,0.00,0.0
47377,2018-03-14,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,0.00,0.0
52115,2018-03-15,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,0.00,0.0
56853,2018-03-16,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,0.00,0.0
61591,2018-03-17,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,0.00,0.0
66329,2018-03-18,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,0.00,0.0
71067,2018-03-19,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,0.00,0.0
75805,2018-03-20,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,0.00,0.0
80543,2018-03-21,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,0.00,0.0
85281,2018-03-22,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,0.00,0.0
90019,2018-03-23,XJLC_190772001901fa9c,0,0.0,88.34,0.0,0.00,88.34,0.0
94757,2018-03-24,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,88.34,0.0
99495,2018-03-25,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,88.34,0.0
104233,2018-03-26,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,88.34,0.0
108971,2018-03-27,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,88.34,0.0
113709,2018-03-28,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,88.34,0.0
118447,2018-03-29,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,88.34,0.0
123185,2018-03-30,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,88.34,0.0
127923,2018-03-31,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,88.34,0.0
132661,2018-04-01,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,88.34,0.0
137399,2018-04-02,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,88.34,0.0
142137,2018-04-03,XJLC_190772001901fa9c,0,0.0,0.00,0.0,0.00,88.34,0.0
...,...,...,...,...,...,...,...,...,...
1293471,2018-12-02,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1298209,2018-12-03,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1302947,2018-12-04,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1307685,2018-12-05,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1312423,2018-12-06,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1317161,2018-12-07,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1321899,2018-12-08,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1326637,2018-12-09,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1331375,2018-12-10,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1336113,2018-12-11,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1340851,2018-12-12,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1345589,2018-12-13,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1350327,2018-12-14,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1355065,2018-12-15,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1359803,2018-12-16,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1364541,2018-12-17,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1369279,2018-12-18,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1374017,2018-12-19,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1378755,2018-12-20,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1383493,2018-12-21,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1388231,2018-12-22,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1392969,2018-12-23,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1397707,2018-12-24,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1402445,2018-12-25,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1407183,2018-12-26,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1411921,2018-12-27,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1416659,2018-12-28,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1421397,2018-12-29,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1426135,2018-12-30,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0
1430873,2018-12-31,XJLC_190772001901fa9c,0,0.0,0.00,0.0,1058.38,441.70,0.0

In [ ]:
# 累加值：还款>充值>账户

In [ ]:
gp_big_hcxt_0.to_excel('1x1x1x.xlsx')

In [36]:
gp_big_hcxt_0['累计充值_ok'] = np.where(gp_big_hcxt_0['累计还款'] < gp_big_hcxt_0['累计充值'],gp_big_hcxt_0['累计还款'],gp_big_hcxt_0['累计充值'])
gp_big_hcxt_0['累计投资_ok'] = np.where(gp_big_hcxt_0['累计充值_ok'] < gp_big_hcxt_0['累计投资'],gp_big_hcxt_0['累计充值_ok'],gp_big_hcxt_0['累计投资'])

In [ ]:
# 按日汇总数据

In [37]:
res_big_hcxt = gp_big_hcxt_0.groupby('时间')['累计还款','累计投资_ok'].sum()

In [38]:
res_big_hcxt.head()

                   累计还款     累计投资_ok
时间
2018-03-05   4397509.39        0.00
2018-03-06   7941764.00   373619.37
2018-03-07  11933566.33   506584.91
2018-03-08  16231625.48  1474660.71
2018-03-09  19712089.03  2790979.34

In [39]:
res_big_hcxt.to_excel('hk_cz_tz_result1.xlsx')

- 计算开通存管时间

In [ ]:
df_kt.info()

In [ ]:
df_kt_tmpt = df_kt.loc[:,['用户名','新网认证时间']]

In [ ]:
df_kt_tmpt.head()

In [ ]:
df_big_kt = pd.merge(df_md,df_kt_tmpt,
                    left_on='会员名',right_on='用户名',
                    how='left')

In [ ]:
df_big_kt.head()

In [ ]:
# 未开通人数
df_big_kt.isnull().sum()

In [ ]:
df_big_kt.dtypes

In [ ]:
df_big_kt['新网认证时间'] = pd.to_datetime(df_big_kt['新网认证时间'])

In [ ]:
df_big_kt['认证time'] =  df_big_kt['新网认证时间'].dt.strftime('%Y-%m')

In [ ]:
df_big_kt.drop('用户名',axis=1,inplace=True)
df_big_kt.head()

In [ ]:
gp_kt = df_big_kt.groupby([df_big_kt['认证time']])['会员名'].count()

In [ ]:
gp_kt

In [ ]:
gp_kt.plot.bar()

- 计算投资额

In [ ]:
df_md.head()

In [ ]:
# 调整jupyter显示的最大列数
pd.set_option('display.max_columns', 100)
# pd.set_option('display.max_rows', None)

In [ ]:
df_cg_tz.head(2)

In [ ]:
df_cg_tz.columns

In [ ]:
df_cg_tz['标类型'].unique()

In [ ]:
df_cg_tz_0 = df_cg_tz.loc[:,['投资用户','标类型','总投资额', '账户资金', '续投资金', '券','加息券成本','投资时间']]

In [ ]:
df_cg_zht.columns

In [ ]:
df_cg_zht.head(2)

In [ ]:
df_cg_zht_0 = df_cg_zht.loc[:,['用户名', '计划期限','总投资金额', '新充金额', '续投金额', '抵用券成本', '加息券成本','投资时间']]

In [ ]:
df_jd_tz.columns

In [ ]:
df_jd_tz.head(2)

In [ ]:
df_jd_tz_0 = df_jd_tz.loc[:,['投资用户', '期限','总投资额', '账户资金', '续投资金', '券','加息券收益', '投资时间']]

In [ ]:
df_cg_tz_0.columns

In [ ]:
df_cg_zht_0.columns

In [ ]:
df_jd_tz_0.columns

In [ ]:
df_md_0 = df_md.loc[:,['经典版用户名','会员名']]

In [ ]:
df_jd_tz_1 = pd.merge(df_jd_tz_0,df_md_0,
                     left_on = '投资用户',
                     right_on = '经典版用户名',
                     how = 'left')

In [ ]:
df_jd_tz_1.dropna(inplace=True)

In [ ]:
df_jd_tz_1.drop(columns=['投资用户','经典版用户名'],inplace=True)

In [ ]:
df_jd_tz_1.head(3)

In [ ]:
df_jd_tz_2 = df_jd_tz_1.rename(columns={'会员名':'用户名',
                                       '期限':'计划期限',
                                       '总投资额':'总投资金额',
                                       '账户资金':'新充金额',
                                       '续投资金':'续投金额',
                                       '券':'抵用券成本',
                                       '加息券收益':'加息券成本'})

In [ ]:
df_cg_tz_1 = df_cg_tz_0.rename(columns={'投资用户':'用户名',
                                       '标类型':'计划期限',
                                       '总投资额':'总投资金额',
                                       '账户资金':'新充金额',
                                       '续投资金':'续投金额',
                                       '券':'抵用券成本',})

In [ ]:
df_tz = pd.concat([df_cg_zht_0,df_cg_tz_1,df_jd_tz_2],ignore_index=True,sort=True)

In [ ]:
df_tz.head(5)

In [ ]:
df_tz = df_tz.loc[df_tz['用户名'].isin(df_md['会员名'])]

In [ ]:
df_tz.columns

In [ ]:
df_tz['投资时间'] = pd.to_datetime(df_tz['投资时间'])

In [ ]:
d = dict.fromkeys(['总投资金额', '新充金额','续投金额', '加息券成本', '抵用券成本'], np.sum)
d['用户名'] = lambda x: x.nunique()

gp_tz = df_tz.groupby(df_tz['投资时间'].dt.month).agg(d).rename(columns={'用户名':'投资人数'})

In [ ]:
gp_tz

In [ ]:
from matplotlib.font_manager import FontProperties

myfont=FontProperties(fname=r'C:\Windows\Fonts\simhei.ttf',size=14)

In [ ]:
sns.set(style="white",palette="muted", color_codes=True,font=myfont.get_name())

# Set up the matplotlib figure
f, axes = plt.subplots(2, 3, figsize=(15, 7), sharex=True)

# Plot a simple histogram with binsize determined automatically
sns.lineplot(x=gp_tz.index, y=gp_tz.iloc[:,0],data=gp_tz, ax=axes[0, 0])

# Plot a simple histogram with binsize determined automatically
sns.lineplot(x=gp_tz.index, y=gp_tz.iloc[:,1],data=gp_tz, ax=axes[0, 1])

# Plot a simple histogram with binsize determined automatically
sns.lineplot(x=gp_tz.index, y=gp_tz.iloc[:,2],data=gp_tz, ax=axes[0,2])

# Plot a simple histogram with binsize determined automatically
sns.lineplot(x=gp_tz.index, y=gp_tz.iloc[:,3],data=gp_tz, ax=axes[1, 0])

# Plot a simple histogram with binsize determined automatically
sns.lineplot(x=gp_tz.index, y=gp_tz.iloc[:,4],data=gp_tz, ax=axes[1, 1])

# Plot a simple histogram with binsize determined automatically
sns.lineplot(x=gp_tz.index, y=gp_tz.iloc[:,5],data=gp_tz, ax=axes[1, 2])

plt.setp(axes, yticks=[])
plt.tight_layout()

- 计算各期限投资金额和人数

In [ ]:
df_tz.head(3)

In [ ]:
df_tz['用户名'].nunique()

In [ ]:
df_tz['计划期限'].unique()

In [ ]:
qi = {'30天':'1月', '1月标':'1月', '3月标':'3月'}

df_tz_qixian = df_tz.copy()
df_tz_qixian['计划期限'] = df_tz_qixian['计划期限'].replace(qi)

In [ ]:
df_tz_qixian.head(3)

In [ ]:
df_tz_qixian['计划期限'].value_counts()

In [ ]:
gp_tz_qixian_money = df_tz_qixian.groupby([df_tz['投资时间'].dt.month, df_tz_qixian['计划期限']])['总投资金额'].sum()

In [ ]:
gp_tz_qixian_money = gp_tz_qixian_money.unstack()

In [ ]:
gp_tz_qixian_money

In [ ]:
gp_tz_qixian_people = df_tz_qixian.groupby([df_tz['投资时间'].dt.month, df_tz_qixian['计划期限']])['用户名'].agg({lambda x:x.nunique()})

In [ ]:
gp_tz_qixian_people = gp_tz_qixian_people.unstack()

In [ ]:
gp_tz_qixian_people

- 经典版回款续投比

In [ ]:
# 1、计算回款名单

df_md_0.head()

In [ ]:
df_jd_hk_0 = pd.merge(df_jd_hk,df_md_0,
                     left_on='投资用户',right_on='经典版用户名',
                     how='left')

In [ ]:
df_jd_hk_0.head(2)

In [ ]:
df_jd_hk_1 = df_jd_hk_0.loc[:,['还款时间','利息','总投资额','发放时间','会员名']].dropna()

In [ ]:
df_jd_hk_1.head(10)

In [ ]:
df_jd_hk_1.columns

In [ ]:
def h(x1,x2,m,n):
    if x1 == x2:
        return m + n
    else:
        return m

df_jd_hk_1['回款金额'] =  df_jd_hk_1.apply(lambda x:h(x['还款时间'],x['发放时间'],x['利息'],x['总投资额']),axis=1)

In [ ]:
df_jd_hk_1.head()

In [ ]:
df_big_hk = df_jd_hk_1.loc[:,['发放时间','回款金额','会员名']]

In [ ]:
df_big_hk['发放时间'] = pd.to_datetime(df_big_hk['发放时间'])

In [ ]:
df_big_hk.info()

In [ ]:
# 2、计算充值名单

df_cg_cz.head(3)

In [ ]:
df_cg_cz['充值状态'].unique()

In [ ]:
df_big_cg_cz = df_cg_cz.loc[((df_cg_cz['会员名'].isin(df_md['会员名'])) & (df_cg_cz['充值状态'] == '充值成功')),['会员名','充值金额','成功时间']]

In [ ]:
df_big_cg_cz.head(3)

In [ ]:
df_big_cg_cz['充值时间'] = pd.to_datetime(df_big_cg_cz['成功时间']).dt.date

In [ ]:
df_big_cg_cz.drop(columns='成功时间',inplace=True)

In [ ]:
df_big_cz = df_big_cg_cz.copy()

In [ ]:
df_big_cz['充值时间'] = pd.to_datetime(df_big_cz['充值时间'])

In [ ]:
df_big_cz.info()

In [ ]:
# 3、计算新充投资名单

df_tz.head()

In [ ]:
df_big_xctz = df_tz.loc[df_tz['新充金额'] != 0,['新充金额','用户名','投资时间']]

In [ ]:
df_big_xctz.rename(columns={'用户名':'会员名'},inplace=True)

In [ ]:
df_big_xctz['投资时间'] = pd.to_datetime(df_big_xctz['投资时间']).dt.date

In [ ]:
df_big_xctz.head(3)

In [ ]:
# 合并回款、充值、投资

In [ ]:
gp_big_hk = df_big_hk.groupby(['发放时间','会员名'],as_index=False).sum()
gp_big_cz = df_big_cz.groupby(['充值时间','会员名'],as_index=False).sum()
gp_big_xctz = df_big_xctz.groupby(['投资时间','会员名'],as_index=False).sum()

In [ ]:
gp_big_hk.rename(columns={'发放时间':'时间'},inplace=True)
gp_big_cz.rename(columns={'充值时间':'时间'},inplace=True)
gp_big_xctz.rename(columns={'投资时间':'时间'},inplace=True)

In [ ]:
gp_big_hk['时间'] = gp_big_hk['时间'].astype(str)
gp_big_cz['时间'] = gp_big_cz['时间'].astype(str)
gp_big_xctz['时间'] = gp_big_xctz['时间'].astype(str)

In [ ]:
gp_big_temp = pd.merge(gp_big_hk,gp_big_cz,on = ['时间','会员名'],how = 'outer')
gp_big_hcxt = pd.merge(gp_big_temp,gp_big_xctz,on = ['时间','会员名'],how = 'outer')

In [ ]:
gp_big_hcxt.head(10)

In [ ]:
gp_big_hcxt.fillna(0,inplace=True)

In [ ]:
# ！扩充每个用户的数据到20180301-20181217的每一天

In [ ]:
time = pd.DataFrame({'时间':pd.date_range(start='20180301', end='20181217', freq='D')})

#构造一个二级行索引，使得每人对应20180301-20180731的每一天
index = pd.MultiIndex.from_product([time['时间'],df_md['会员名']], names = ['时间','会员名'])
s = pd.Series(1,index=index)

df_big_time = s.to_frame().reset_index()
del df_big_time[0]
df_big_time.head()

In [ ]:
df_big_time.info()

In [ ]:
df_big_time['时间'] = df_big_time['时间'].astype(str)

In [ ]:
gp_big_hcxt_0 = pd.merge(df_big_time,gp_big_hcxt,on=['时间','会员名'],how='left')

In [ ]:
gp_big_hcxt_0[gp_big_hcxt_0['会员名'] == 'XJLC_10205125931e8735']

In [ ]:
gp_big_hcxt_0.fillna(0,inplace=True)

In [ ]:
gp_big_hcxt_0['累计还款'] = gp_big_hcxt_0.groupby(['会员名'])['回款金额'].apply(lambda x: x.cumsum())
gp_big_hcxt_0['累计充值'] = gp_big_hcxt_0.groupby(['会员名'])['充值金额'].apply(lambda x: x.cumsum())
gp_big_hcxt_0['累计投资'] = gp_big_hcxt_0.groupby(['会员名'])['新充金额'].apply(lambda x: x.cumsum())

In [ ]:
# 累加值：还款>充值>账户

In [ ]:
gp_big_hcxt_0['累计充值_ok'] = np.where(gp_big_hcxt_0['累计还款'] < gp_big_hcxt_0['累计充值'],gp_big_hcxt_0['累计还款'],gp_big_hcxt_0['累计充值'])
gp_big_hcxt_0['累计投资_ok'] = np.where(gp_big_hcxt_0['累计充值_ok'] < gp_big_hcxt_0['累计投资'],gp_big_hcxt_0['累计充值_ok'],gp_big_hcxt_0['累计投资'])

In [ ]:
# 按日汇总数据

In [ ]:
res_big_hcxt = gp_big_hcxt_0.groupby('时间')['累计还款','累计投资_ok'].sum()

In [ ]:
res_big_hcxt.head()

In [ ]:
# 绘图

In [ ]:
res_big_hcxt.plot()

In [ ]:
sns.set(style="dark", color_codes=True,font=myfont.get_name())
fig,axes = plt.subplots(nrows=1,ncols=1,figsize=(15,10))

x = res_big_hcxt.index
y = res_big_hcxt.iloc[:,0] - res_big_hcxt.iloc[:,1]

# Plot a simple histogram with binsize determined automatically
sns.lineplot(x=x, y=y,color='b')

- 存管回款复投

In [ ]:
# 计算存管回款

In [ ]:
df_cg_hk.head(2)

In [ ]:
df_big_cg_hk = df_cg_hk.loc[df_cg_hk['投资用户'].isin(df_md['会员名']),['投资用户','预计本次发放时间','本次发放金额']]

In [ ]:
df_big_cg_hk.shape

In [ ]:
df_big_cg_hk['预计本次发放时间'] = pd.to_datetime(df_big_cg_hk['预计本次发放时间'])

In [ ]:
df_big_cg_hk = df_big_cg_hk.loc[(df_big_cg_hk['预计本次发放时间'] < '2018-12-18'),:]

In [ ]:
df_big_cg_hk.rename(columns={'投资用户':'用户名','预计本次发放时间':'时间'},inplace=True)

In [ ]:
df_big_cg_hk.tail()

In [ ]:
# 计算存管续投

In [ ]:
df_xttz_0 = pd.concat([df_cg_zht_0,df_cg_tz_1],ignore_index=True,sort=True)

In [ ]:
df_xttz_0['投资时间'] = pd.to_datetime(df_xttz_0['投资时间'])

In [ ]:
df_xttz_1 = df_xttz_0.loc[(df_xttz_0['续投金额'] > 0),['续投金额','用户名','投资时间']]

In [ ]:
df_xttz_1.rename(columns={'投资时间':'时间'},inplace=True)

In [ ]:
df_xttz_1.head()

In [ ]:
# 合并回款、续投表

In [ ]:
df_big_cg_hk['时间'] = df_big_cg_hk['时间'].astype(str)
df_xttz_1['时间'] = df_xttz_1['时间'].astype(str)

In [ ]:
gp_big_cg_hk = df_big_cg_hk.groupby(['时间','用户名'],as_index=False).sum()
gp_xttz = df_xttz_1.groupby(['时间','用户名'],as_index=False).sum()

In [ ]:
df_big_hxt = pd.merge(gp_big_cg_hk,gp_xttz,
                    on=['时间','用户名'],
                    how='outer')

In [ ]:
df_big_hxt.shape

In [ ]:
df_big_hxt.rename(columns={'用户名':'会员名'},inplace=True)

In [ ]:
df_big_hxt.head()

In [ ]:
df_big_hxt['时间'].min()

In [ ]:
# 将回款，续投记录扩充到20170925-20181217

In [ ]:
time_2 = pd.DataFrame({'时间':pd.date_range(start='20170925', end='20181217', freq='D')})

#构造一个二级行索引，使得每人对应220170925-20181217的每一天
index_2 = pd.MultiIndex.from_product([time_2['时间'],df_md['会员名']], names = ['时间','会员名'])
s_2 = pd.Series(1,index=index_2)

df_big_time_2 = s_2.to_frame().reset_index()

df_big_time_2['时间'] = df_big_time_2['时间'].astype(str)

del df_big_time_2[0]

In [ ]:
gp_big_hxt = pd.merge(df_big_time_2,df_big_hxt,on=['时间','会员名'],how='left')

In [ ]:
gp_big_hxt.tail()

In [ ]:
gp_big_hxt.fillna(0,inplace=True)

In [ ]:
gp_big_hxt['累计还款'] = gp_big_hxt.groupby(['会员名'])['本次发放金额'].apply(lambda x: x.cumsum())
gp_big_hxt['累计续投'] = gp_big_hxt.groupby(['会员名'])['续投金额'].apply(lambda x: x.cumsum())

In [ ]:
# 按日汇总数据

In [ ]:
res_big_hxt = gp_big_hxt.groupby('时间')['累计还款','累计续投'].sum()

In [ ]:
res_big_hxt.head()

In [ ]:
res_big_hxt.shape

In [ ]:
# 绘图

In [ ]:
sns.set(style="white",palette="deep", color_codes=True,font=myfont.get_name())
fig,axes = plt.subplots(nrows=1,ncols=1,figsize=(15,10))

x = res_big_hxt.index
y1 = res_big_hxt.iloc[:,0]
y2 = res_big_hxt.iloc[:,1]

# Plot a simple histogram with binsize determined automatically
sns.lineplot(x=x, y=y1,data=gp_big_hxt,color='g')
sns.lineplot(x=x, y=y2,data=gp_big_hxt,color='r')

In [ ]:
sns.set(style="dark", color_codes=True,font=myfont.get_name())
fig,axes = plt.subplots(nrows=1,ncols=1,figsize=(15,10))

x = res_big_hxt.index
y = res_big_hxt.iloc[:,0] - res_big_hxt.iloc[:,1]

# Plot a simple histogram with binsize determined automatically
sns.lineplot(x=x, y=y,data=gp_big_hxt,color='b')