In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.chdir('D:\小鸡理财\OneDrive\python')

In [3]:
with pd.ExcelFile(r'D:\小鸡理财\OneDrive\python\01.xlsx') as xlsx:
    df1 = pd.read_excel(xlsx,'时间')
    df2 = pd.read_excel(xlsx,'投资')

In [4]:
df1['时间'] = pd.to_datetime(df1['时间'])
df2['时间'] = pd.to_datetime(df2['时间'])

In [6]:
df1.head()

                   时间                    用户名  VIP等级
0 2018-06-29 10:00:00  XJLC_185192714860f500      1
1 2018-06-29 10:00:00  XJLC_62552271303825d0      1
2 2018-06-29 10:00:00  XJLC_95204271231b9860      1
3 2018-06-29 10:00:00  XJLC_11529271172987e8      2
4 2018-06-29 10:00:00  XJLC_1834327113541883      1

In [8]:
df1.sort_values('时间', inplace=True)
df2.sort_values('时间', inplace=True)

In [9]:
df = pd.merge_asof(df2,df1,
                   on='时间',
                   by='用户名',
                   allow_exact_matches=True,
                   direction='backward')

In [10]:
df.to_excel('001.xlsx',index=False)