### 导入库

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### 修改工作目录

In [2]:
file_add = r'D:\小鸡理财\百度云同步盘\小鸡理财\数据报告\信息披露'
file_name = '7月数据披露.xlsx'
os.chdir(file_add)

### 导入excel

In [3]:
with pd.ExcelFile(os.path.abspath(file_name)) as xlsx:
    df_tz = pd.read_excel(xlsx,'投资')
    df_jd_bj = pd.read_excel(xlsx,'经典本金')
    df_jd_lx = pd.read_excel(xlsx,'经典利息')
    df_cg = pd.read_excel(xlsx,'存管回款')
    df_ljcj = pd.read_excel(xlsx,'累计出借人数量')

In [4]:
df_tz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5525 entries, 0 to 5524
Data columns (total 51 columns):
投资状态       5525 non-null object
标状态        5525 non-null object
序号         5525 non-null int64
标ID        5525 non-null int64
标的编号       5525 non-null object
标名称        5525 non-null object
是否新手标      5525 non-null object
投资用户       5525 non-null object
真实姓名       5525 non-null object
手机号        5525 non-null int64
所属公司       192 non-null object
会员类型       5525 non-null object
投资时会员类型    5525 non-null object
推荐人        3527 non-null object
注册时间       5525 non-null object
智慧投ID      5525 non-null object
智慧投名称      5525 non-null object
智慧投基本年化    5525 non-null object
智慧投奖励年化    5525 non-null object
标类型        5525 non-null object
还款方式       5525 non-null object
总投资额       5525 non-null float64
账户资金       5525 non-null float64
续投资金       5525 non-null float64
券          5525 non-null int64
加息券成本      5525 non-null float64
工资余额投资     5525 non-null int64
预期收益       5525 non-null float64
已得利息       5525 non-null float64
投资时间       5525 non-null object
智慧投投资时间    5525 non-null object
预期还款时间     5525 non-null object
还款时间       5525 non-null object
复审时间       5525 non-null object
渠道         5525 non-null object
投资来源       5525 non-null object
邀请来源       5525 non-null object
首投时间       5525 non-null object
还款状态       0 non-null float64
还款方式.1     0 non-null float64
标种类型       0 non-null float64
投标方式       0 non-null float64
标限制        5525 non-null object
投资期限       5525 non-null int64
年利率        5525 non-null object
加息利率       5525 non-null object
利息期数       5525 non-null object
下次发放       5525 non-null object
首投时间.1     5525 non-null object
身份证        5525 non-null object
用户来源       5525 non-null object
dtypes: float64(10), int64(6), object(35)
memory usage: 2.1+ MB

- 累计借贷金额(万元)*

In [5]:
#本月借贷金额
cheng_jiao_sum = df_tz['总投资额'].sum()
print('本月借贷金额：',cheng_jiao_sum)

本月借贷金额： 49732100.0

In [6]:
last = input('上月累计借贷金额')
ljjd_sum = float(last) + cheng_jiao_sum

print('\n累计借贷金额：上月{0} + 本月{1} = {2}'\
      .format(float(last),cheng_jiao_sum,ljjd_sum))

print('\n累计借贷金额(万元):{:.0f}'.format(ljjd_sum/10000))

上月累计借贷金额2344062984.03

累计借贷金额：上月2344062984.03 + 本月49732100.0 = 2393795084.03

累计借贷金额(万元):239380

- 累计出借笔数(笔)*

In [7]:
#本月出借笔数
cheng_jiao_count = df_tz['总投资额'].count()
print('本月出借笔数：',cheng_jiao_count)

本月出借笔数： 5525

In [9]:
last_count = input('上月累计出借笔数')

print('\n累计出借笔数：上月{0} + 本月{1} = {2}'\
      .format(int(last_count),cheng_jiao_count,int(last_count) + cheng_jiao_count))

上月累计出借笔数293480

累计出借笔数：上月293480 + 本月5525 = 299005

- 借贷余额（万元）-本金

In [14]:
df_jd_bj.head()

   本次发放本金                 投资时间   预计本次发放时间                 身份证
0   32000  2018-02-16 14:16:42 2018-08-16  330227196610152023
1     100  2018-02-16 13:57:47 2018-08-16  371324198511244911
2     200  2018-02-16 13:53:14 2018-08-16  331004198602141812
3     100  2018-02-16 13:42:22 2018-08-16  330702198109046058
4   10000  2018-02-16 13:07:16 2018-08-16  140429199006058526

In [15]:
df_cg_bj = df_cg.loc[:,['身份证','投资时间','预计本次发放时间','本次发放本金']]
df_cg_bj.head()

df_bj = df_jd_bj.append(df_cg_bj, ignore_index=True)
# df_bj.info()

bj_sum = df_bj['本次发放本金'].sum()
print('借贷余额:',bj_sum)
print('借贷余额（万元）:{:.0f}'.format(bj_sum/10000))

借贷余额: 298292790.9899126
借贷余额（万元）:29829

- 借贷余额笔数(笔)

In [19]:
df_yebs = df_bj.drop_duplicates(subset = ['投资时间','身份证'])
print('借贷余额笔数:',df_yebs.shape[0])

借贷余额笔数: 28266

- 利息余额(万元)

In [20]:
df_cg_lx = df_cg.iloc[:,[0,2,3]]
# df_cg_bj.head()

df_lx = df_jd_lx.append(df_cg_lx, ignore_index=True)
# df_lx.info()

bj_lx = df_lx['总利息'].sum()
print('利息余额:',bj_lx)
print('利息余额（万元）:{:.0f}'.format(bj_lx/10000))

利息余额: 14231069.91000138
利息余额（万元）:1423

- 累计出借人数量(人)

In [21]:
df_ljcj_new = df_ljcj.append(df_cg['身份证'].to_frame())
# df_ljcj_new.info()

#检查身份证是否有小写x，会影响到去重计算
while df_ljcj_new[df_ljcj_new['身份证'].str.contains('x')].shape[0]:
    df_ljcj_new['身份证'] = df_ljcj_new['身份证'].str.upper()

df_ljcj_new.drop_duplicates(inplace=True)
print('累计出借人数量:',df_ljcj_new.shape[0])

df_ljcj_new.to_excel('累计出借人数量.xlsx', sheet_name='Sheet1',index=False)

累计出借人数量: 36924

- 当前出借人数量(人)

In [22]:
df_dqcj_new = df_jd_bj['身份证'].append([df_jd_lx['身份证'],df_cg['身份证']])

#检查身份证是否有小写x，会影响到去重计算
while df_dqcj_new[df_dqcj_new.str.contains('x')].shape[0]:
    df_dqcj_new = df_dqcj_new.str.upper()


df_dqcj_new.drop_duplicates(inplace=True)
print('当前出借人数量:',df_dqcj_new.shape[0])

当前出借人数量: 4373

- 人均累计出借金额（万元）

In [23]:
print('人均累计出借金额:{}'.format(ljjd_sum / df_ljcj_new.shape[0]))
print('\n人均累计出借金额（万元）:{:.2f}'.format(ljjd_sum / df_ljcj_new.shape[0] / 10000))

人均累计出借金额:64830.329434243315

人均累计出借金额（万元）:6.48

- 最大单户出借余额占比

In [24]:
#检查身份证是否有小写x，会影响到计算
while df_bj[df_bj['身份证'].str.contains('x')].shape[0]:
    df_bj['身份证'] = df_bj['身份证'].str.upper()

gp_bj = df_bj.groupby('身份证',as_index=False)['本次发放本金'].sum().sort_values(by='本次发放本金',ascending=False)
# gp_bj

print('最大单户出借余额占比:{:.2%}'.format(gp_bj.iloc[0,1] / df_bj['本次发放本金'].sum()))

最大单户出借余额占比:3.64%

- 最大十户出借余额占比

In [25]:
gp_bj['ranking'] = gp_bj['本次发放本金'].rank(method='min',ascending=False)
# gp_bj

first_10_sum = gp_bj[gp_bj['ranking'] < 11]['本次发放本金'].sum()
print('最大十户出借余额占比:{:.2%}'.format(first_10_sum / df_bj['本次发放本金'].sum()))

最大十户出借余额占比:9.94%

In [26]:
gp_bj

                     身份证       本次发放本金  ranking
2391  330322198303150418  10869678.60      1.0
593   330104194411043036   2721548.83      2.0
2049  330281198410266314   2619524.27      3.0
974   330205197806304515   2561358.61      4.0
3115  350105197504260033   2224890.95      5.0
2869  332621197001045687   2222054.42      6.0
881   330204197807204026   1828884.99      7.0
907   330204199105202017   1597577.37      8.0
1204  330219196005222222   1557302.37      9.0
3796  430623196904213039   1448938.50     10.0
2877  332623196603046642   1415573.39     11.0
783   330203198505290027   1397070.55     12.0
1689  330226197903051443   1360299.75     13.0
1027  330206198006164615   1307134.00     14.0
2420  33038119850918172X   1243953.17     15.0
2516  330622196611042221   1208506.90     16.0
382   31010219601006201X   1126927.17     17.0
2692  330903197203160626   1052085.58     18.0
1087  330211196401010060   1046402.77     19.0
1299  330219197107257877   1019000.00     20.0
246   210624196303267811    992874.02     21.0
1074  330211195912040021    983612.41     22.0
459   320281196606168512    967616.97     23.0
1966  330227199006241824    958148.53     24.0
1100  330211196809070040    949504.61     25.0
2324  330283198809043721    947308.97     26.0
425   310230199011064388    932000.00     27.0
1798  330227196112126842    914000.00     28.0
2667  330901193609290323    893033.70     29.0
2976  340827198801060328    887823.25     30.0
...                  ...          ...      ...
1713  330226198411210027        50.73   4330.0
3253  360902199508293428        50.73   4330.0
1664  330226197108281928        50.73   4330.0
1709  330226198310227049        33.99   4347.0
1502  330224196411285828        33.99   4347.0
972   330205197712143327        33.99   4347.0
3036  341226199404092111        33.99   4347.0
875   33020419740106502X        33.99   4347.0
1987  330227199302227330        33.99   4347.0
2037  330281198310140079        33.99   4347.0
4077  511022197204192640        33.99   4347.0
2989  34102219951228355X        33.99   4347.0
2565  330682198612224022        33.99   4347.0
3094  342601199211265026        33.99   4347.0
3522  411202196704141564        33.99   4347.0
3274  362203195505102616        33.99   4347.0
3328  362330199603203640        33.99   4347.0
2052  330281198412127924        33.99   4347.0
1735  330226199011202874        33.99   4347.0
2296  330283198612135825        33.99   4347.0
2076  330281198702183019        33.99   4347.0
1751  330226199503200031        33.99   4347.0
2091  330281198709270414        33.99   4347.0
2961  340824198907132626        33.99   4347.0
4173  522225198606081625        33.99   4347.0
2281  330283198505016716        33.99   4347.0
2540  330624199209043329        33.99   4347.0
278   220181198902195531        33.61   4371.0
280   220181198910044127        33.61   4371.0
2513  33062219571227342X        17.09   4373.0

[4373 rows x 3 columns]