导入库

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

修改工作目录

In [2]:
os.chdir(r'D:\小鸡理财\OneDrive\python')

导入excel

In [3]:
with pd.ExcelFile(r'D:\小鸡理财\OneDrive\python\01.xlsx') as xlsx:
    df_touzi = pd.read_excel(xlsx,'投资')
    df_daishou = pd.read_excel(xlsx,'待收')
    df_quanbao = pd.read_excel(xlsx,'券包')
    df_kaitong = pd.read_excel(xlsx,'开通')
    df_time = pd.read_excel(xlsx,'时间')

In [4]:
df_touzi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239292 entries, 0 to 239291
Data columns (total 4 columns):
手机号码    239292 non-null int64
注册时间    239292 non-null object
总投资额    239292 non-null float64
期限      239292 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 7.3+ MB

查看touzi表的所有期限

In [5]:
df_touzi['期限'].unique()

array(['1月', '2月', '4月', '3月', '6月', '8月', '9月', '7天', '10天', '15天', '5天',
       '12月', '5月'], dtype=object)

找到投资过6月以上的用户名单，放入了l1

In [6]:
temp1 = df_touzi[df_touzi['期限'].isin([ '6月', '8月', '9月','12月'])]

In [7]:
l1 = temp1['手机号码'].unique()

l1.shape

(5697,)

提取至少投资过1月标的用户名单，放入l2

In [8]:
temp2 = df_touzi[df_touzi['期限'].isin(['1月', '2月', '4月', '3月', '6月', '8月', '9月','12月', '5月'])]

In [9]:
l2 = temp2['手机号码'].unique()

l2.shape

(19094,)

提取至少投资过1月标，但没有投资6月标以上的用户

In [10]:
res = df_touzi[(df_touzi['手机号码'].isin(l2)) & (~df_touzi['手机号码'].isin(l1))]

In [11]:
res.head()

           手机号码                 注册时间     总投资额  期限
1   13544947276  2014-11-17 15:00:08  14468.0  1月
2   13570729082  2014-12-28 18:31:22    100.0  1月
3   13537753062  2014-11-27 09:52:10   2294.0  1月
7   13858243908  2014-09-12 15:49:13   3000.0  1月
10  18905276097  2014-12-27 21:17:15    200.0  1月

汇总投资额和投资次数

In [18]:
gp1 = res.groupby(['手机号码'],as_index=False).agg({'总投资额':np.sum,'期限':np.size})

In [19]:
gp1.head()

gp1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13397 entries, 0 to 13396
Data columns (total 3 columns):
手机号码    13397 non-null int64
总投资额    13397 non-null float64
期限      13397 non-null int64
dtypes: float64(1), int64(2)
memory usage: 418.7 KB

合并其他表格

In [20]:
gp1['手机号码'].value_counts()

13857878610    1
15306619866    1
18282797982    1
13884417082    1
15845366678    1
13978833815    1
13637618580    1
15913890707    1
18506562450    1
13155419021    1
13967549321    1
15867812742    1
15633951598    1
18995618689    1
18072327039    1
13797180285    1
15275718116    1
15990711161    1
13622827886    1
13958206319    1
13842991980    1
13355991917    1
15218178922    1
18086167397    1
18749442130    1
18258776991    1
13852359586    1
13252428709    1
15250141503    1
15172193231    1
              ..
18262539677    1
13794356639    1
18981399967    1
13923020231    1
18667804461    1
18937927168    1
13310689213    1
18565653688    1
15204974621    1
15505867821    1
15816705522    1
13807439347    1
13071078896    1
18290523629    1
15703320168    1
13951645164    1
13459111405    1
18033802725    1
15252032213    1
15088743908    1
15058837668    1
13221882218    1
13144401374    1
18002032092    1
15977788892    1
13690408411    1
15724090840    1
13087677913    1
15605348071    1
18660071427    1
Name: 手机号码, Length: 13397, dtype: int64

In [21]:
gp = gp1.merge(df_daishou,on='手机号码',how = 'left')
gp = gp.merge(df_quanbao,on='手机号码',how = 'left')
gp = gp.merge(df_kaitong,on='手机号码',how = 'left')
gp = gp.merge(df_time,on='手机号码',how = 'left')

In [22]:
gp.info()

gp.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13397 entries, 0 to 13396
Data columns (total 8 columns):
手机号码        13397 non-null object
总投资额        13397 non-null float64
期限          13397 non-null int64
待收金额        399 non-null float64
券别名         574 non-null object
用户名         13375 non-null object
真实姓名        13372 non-null object
最后一次投资时间    13397 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 942.0+ KB

,手机号码,总投资额,期限,待收金额,券别名,用户名,真实姓名,最后一次投资时间
0,12175907535,5000.0,1,NaN,NaN,NaN,NaN,2015-08-13 10:43:11
1,13001102030,100.0,1,NaN,NaN,XJLC_314282310887d8ab,于佳琪,2018-02-01 14:23:55
2,13001204258,10100.0,1,NaN,NaN,XJLC_329742499706c8e6,苏巧,2017-12-11 16:51:00
3,13001429941,147452.0,10,NaN,NaN,XJLC_98371108534b99cf,庞桂敏,2016-11-29 16:41:39
4,13001728856,28500.0,5,NaN,NaN,XJLC_977672308504bfd1,吕化军,2018-01-10 18:43:54

导出到csv

In [23]:
gp = gp.rename(columns={'总投资额':'累计投资额','期限':'累计投资次数'})
gp['待收金额'].fillna(0,inplace=True)


gp.to_csv('001.csv',index=False)