- 导入库

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

- 更换目录

In [2]:
os.chdir('D:\小鸡理财\OneDrive\python')

FileNotFoundError: [WinError 3] 系统找不到指定的路径。: 'D:\\小鸡理财\\OneDrive\\python'

- 导入数据

In [ ]:
with pd.ExcelFile(r'D:\小鸡理财\OneDrive\python\大额用户.xlsx') as xlsx:
    df_hk = pd.read_excel(xlsx,'回款')
    df_cz = pd.read_excel(xlsx,'充值')
    df_tz = pd.read_excel(xlsx,'投资')
    df_md = pd.read_excel(xlsx,'名单')

- 整理数据：保留到日期，筛选出大额用户

- 保留日期的方法

仅保留日期
df['just_date'] = df['dates'].dt.date

保留日期和时间
df['normalised_date'] = df['dates'].dt.normalize()

In [4]:
df_hk['时间'] = pd.to_datetime(df_hk['发放时间'])
df_hk['身份证'] = df_hk['身份证'].str.upper()
df_md['身份证'] = df_md['身份证'].str.upper()

df_hk_ok = df_hk[df_hk['身份证'].isin(df_md['身份证'])]
del df_hk_ok['发放时间']
df_hk_ok.head()

        还款金额                 身份证         时间
21  26698.75  330281198711150438 2018-04-04
24    297.50  330281198711150438 2018-04-04
74  50375.00  330227199204162027 2018-04-03
76    201.50  330211197903170069 2018-04-03
85  50375.00  330227199204162027 2018-04-03

In [5]:
df_cz['身份证'] = df_cz['身份证'].str.upper()
df_cz['时间'] = pd.to_datetime(df_cz['成功时间']).dt.date

df_cz_ok = df_cz[df_cz['身份证'].isin(df_md['身份证'])]
del df_cz_ok['成功时间']
df_cz_ok.head()

        充值金额                 身份证          时间
3   16000.00  330227196909274922  2018-03-04
4      46.00  330204199105202017  2018-03-04
23  10499.96  330281198711150438  2018-03-04
24  50000.00  330281198711150438  2018-03-04
49     40.00  130406198605270317  2018-03-04

In [6]:
df_tz['身份证'] = df_tz['身份证'].str.upper()
df_tz['时间'] = pd.to_datetime(df_tz['投资时间']).dt.date

df_tz_ok = df_tz[df_tz['身份证'].isin(df_md['身份证'])]
del df_tz_ok['投资时间']
df_tz_ok.head()

        账户资金                 身份证          时间
11  26500.00  330281198711150438  2018-03-04
13  34000.00  330281198711150438  2018-03-04
58  50000.00  330227199204162027  2018-03-03
61    200.00  330211197903170069  2018-03-03
67  48245.96  330227199204162027  2018-03-03

- 合并回款、充值、投资

In [7]:
df_hk_gp = df_hk_ok.groupby(['时间','身份证'],as_index=False).sum()
df_cz_gp = df_cz_ok.groupby(['时间','身份证'],as_index=False).sum()
df_tz_gp = df_tz_ok.groupby(['时间','身份证'],as_index=False).sum()

In [8]:
df_hk_gp['时间'] = pd.to_datetime(df_hk_gp['时间'])
df_cz_gp['时间'] = pd.to_datetime(df_cz_gp['时间'])
df_tz_gp['时间'] = pd.to_datetime(df_tz_gp['时间'])

In [9]:
gp_temp = pd.merge(df_hk_gp,df_cz_gp,on = ['时间','身份证'],how = 'outer')
gp = pd.merge(gp_temp,df_tz_gp,on = ['时间','身份证'],how = 'outer')
gp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20153 entries, 0 to 20152
Data columns (total 5 columns):
时间      20153 non-null datetime64[ns]
身份证     20153 non-null object
还款金额    18484 non-null float64
充值金额    2287 non-null float64
账户资金    2614 non-null float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 944.7+ KB

- ！扩充每个用户的数据到20180301-20180731的每一天

In [18]:
time = pd.DataFrame({'时间':pd.date_range(start='20180301', end='20180731', freq='D')})
time

#构造一个二级行索引，使得每人对应20180301-20180731的每一天
index = pd.MultiIndex.from_product([time['时间'],df_md['身份证']], names = ['时间','身份证'])
s = pd.Series(1,index=index)

df= s.to_frame().reset_index()
del df[0]
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46206 entries, 0 to 46205
Data columns (total 2 columns):
时间     46206 non-null datetime64[ns]
身份证    46206 non-null object
dtypes: datetime64[ns](1), object(1)
memory usage: 722.0+ KB

          时间                 身份证
0 2018-03-01  429001198009252968
1 2018-03-01  330203198106041824
2 2018-03-01  330682199010046315
3 2018-03-01  210302197509053317
4 2018-03-01  62042219840221192X

In [19]:
gp_tm = pd.merge(df,gp,on=['时间','身份证'],how='left')
gp_tm

              时间                 身份证      还款金额      充值金额      账户资金
0     2018-03-01  429001198009252968       NaN       NaN       NaN
1     2018-03-01  330203198106041824       NaN       NaN       NaN
2     2018-03-01  330682199010046315    383.16       NaN       NaN
3     2018-03-01  210302197509053317    424.16      5.00       NaN
4     2018-03-01  62042219840221192X       NaN       NaN       NaN
5     2018-03-01  330205196501270946    541.66       NaN       NaN
6     2018-03-01  332621196810203046     49.00       NaN       NaN
7     2018-03-01  610102197802261514       NaN       NaN       NaN
8     2018-03-01  33012319800419001X   2271.25       NaN       NaN
9     2018-03-01  330227196611083023       NaN       NaN       NaN
10    2018-03-01  330211195201030038   3741.98       NaN       NaN
11    2018-03-01  620524196311230016    125.00       NaN       NaN
12    2018-03-01  330219198109131893    229.25       NaN       NaN
13    2018-03-01  421302199004072984    175.00       NaN       NaN
14    2018-03-01  330227198111206815    268.33       NaN       NaN
15    2018-03-01  330902197103084914   1093.33     44.02     44.02
16    2018-03-01  330219196005222222   8702.50  35000.00  35000.00
17    2018-03-01  210624196303267811    123.75   9500.00  10000.00
18    2018-03-01  210882198111126129     47.91       NaN       NaN
19    2018-03-01  330903197203160626  35767.50       NaN       NaN
20    2018-03-01  320103196909192048  22265.75       NaN       NaN
21    2018-03-01  642221196809070013  10861.37       NaN       NaN
22    2018-03-01  220104196511271574    620.00       NaN       NaN
23    2018-03-01  37142619641019001X   6150.24       NaN       NaN
24    2018-03-01  330211196401010060       NaN       NaN       NaN
25    2018-03-01  330227198710212010    258.75       NaN       NaN
26    2018-03-01  440526197512072935     35.00       NaN       NaN
27    2018-03-01  330225197310183196    120.16       NaN       NaN
28    2018-03-01  330204195608263016  30701.68       NaN       NaN
29    2018-03-01  330281198810016322  20238.85       NaN       NaN
...          ...                 ...       ...       ...       ...
46176 2018-07-31  220104195505291523       NaN       NaN       NaN
46177 2018-07-31  330203198710250649       NaN       NaN       NaN
46178 2018-07-31  330211196809070040       NaN       NaN       NaN
46179 2018-07-31  610403198306243023       NaN       NaN       NaN
46180 2018-07-31  330211195103291015       NaN       NaN       NaN
46181 2018-07-31  330227198703243441       NaN       NaN       NaN
46182 2018-07-31  330219196703210069    100.66       NaN       NaN
46183 2018-07-31  330227196205215262       NaN       NaN       NaN
46184 2018-07-31  330302198403255641       NaN       NaN       NaN
46185 2018-07-31  330802198811144016       NaN       NaN       NaN
46186 2018-07-31  330224196712101826       NaN       NaN       NaN
46187 2018-07-31  330205198111040626       NaN       NaN       NaN
46188 2018-07-31  330281199005096328       NaN       NaN       NaN
46189 2018-07-31  330802196307134469       NaN       NaN       NaN
46190 2018-07-31  330702198006156019       NaN       NaN       NaN
46191 2018-07-31  330224196604195423       NaN       NaN       NaN
46192 2018-07-31  362326197011260920       NaN       NaN       NaN
46193 2018-07-31  330104194411043036       NaN       NaN       NaN
46194 2018-07-31  330222196308181980       NaN       NaN    700.00
46195 2018-07-31  330227195710280538       NaN       NaN       NaN
46196 2018-07-31  321111198109095338       NaN       NaN       NaN
46197 2018-07-31  330183198703011769       NaN       NaN       NaN
46198 2018-07-31  330202195905090059       NaN       NaN       NaN
46199 2018-07-31  330204198704295011       NaN       NaN       NaN
46200 2018-07-31  330204199010185015       NaN       NaN       NaN
46201 2018-07-31  330219196105257561       NaN       NaN       NaN
46202 2018-07-31  330106198402240055       NaN       NaN       NaN
46203 2018-07-31  330227196502100381     23.66       NaN       NaN
46204 2018-07-31  421023200005250413       NaN       NaN       NaN
46205 2018-07-31  330281200003284144       NaN       NaN       NaN

[46206 rows x 5 columns]

- 按每个用户计算累加值

In [20]:
gp_tm.fillna(0,inplace=True)

In [21]:
gp_tm['累计还款'] = gp_tm.groupby(['身份证'])['还款金额'].apply(lambda x: x.cumsum())
gp_tm['累计充值'] = gp_tm.groupby(['身份证'])['充值金额'].apply(lambda x: x.cumsum())
gp_tm['累计投资'] = gp_tm.groupby(['身份证'])['账户资金'].apply(lambda x: x.cumsum())

In [22]:
gp_tm.head()

          时间                 身份证    还款金额  充值金额  账户资金    累计还款  累计充值  累计投资
0 2018-03-01  429001198009252968    0.00   0.0   0.0    0.00   0.0   0.0
1 2018-03-01  330203198106041824    0.00   0.0   0.0    0.00   0.0   0.0
2 2018-03-01  330682199010046315  383.16   0.0   0.0  383.16   0.0   0.0
3 2018-03-01  210302197509053317  424.16   5.0   0.0  424.16   5.0   0.0
4 2018-03-01  62042219840221192X    0.00   0.0   0.0    0.00   0.0   0.0

In [23]:
gp_tm[gp_tm['身份证']=='130406198605270317']

,时间,身份证,还款金额,充值金额,账户资金,累计还款,累计充值,累计投资
61,2018-03-01,130406198605270317,26.25,0.00,0.00,26.25,0.00,0.00
363,2018-03-02,130406198605270317,16.80,0.00,0.00,43.05,0.00,0.00
665,2018-03-03,130406198605270317,0.00,339.09,339.09,43.05,339.09,339.09
967,2018-03-04,130406198605270317,50395.83,50040.00,50000.00,50438.88,50379.09,50339.09
1269,2018-03-05,130406198605270317,0.00,0.00,0.00,50438.88,50379.09,50339.09
1571,2018-03-06,130406198605270317,103.60,0.00,0.00,50542.48,50379.09,50339.09
1873,2018-03-07,130406198605270317,75656.25,0.00,0.00,126198.73,50379.09,50339.09
2175,2018-03-08,130406198605270317,12912.16,13176.38,13280.92,139110.89,63555.47,63620.01
2477,2018-03-09,130406198605270317,0.00,74913.38,74913.38,139110.89,138468.85,138533.39
2779,2018-03-10,130406198605270317,0.00,0.00,0.00,139110.89,138468.85,138533.39
3081,2018-03-11,130406198605270317,0.00,0.00,0.00,139110.89,138468.85,138533.39
3383,2018-03-12,130406198605270317,0.00,0.00,0.00,139110.89,138468.85,138533.39
3685,2018-03-13,130406198605270317,0.00,0.00,0.00,139110.89,138468.85,138533.39
3987,2018-03-14,130406198605270317,20210.26,9610.46,4807.09,159321.15,148079.31,143340.48
4289,2018-03-15,130406198605270317,30282.80,11911.97,47000.00,189603.95,159991.28,190340.48
4591,2018-03-16,130406198605270317,0.00,0.00,0.00,189603.95,159991.28,190340.48
4893,2018-03-17,130406198605270317,46.66,0.00,0.00,189650.61,159991.28,190340.48
5195,2018-03-18,130406198605270317,0.00,0.00,0.00,189650.61,159991.28,190340.48
5497,2018-03-19,130406198605270317,0.00,0.00,0.00,189650.61,159991.28,190340.48
5799,2018-03-20,130406198605270317,0.00,0.00,0.00,189650.61,159991.28,190340.48
6101,2018-03-21,130406198605270317,0.00,0.00,0.00,189650.61,159991.28,190340.48
6403,2018-03-22,130406198605270317,0.00,0.00,0.00,189650.61,159991.28,190340.48
6705,2018-03-23,130406198605270317,0.00,0.00,0.00,189650.61,159991.28,190340.48
7007,2018-03-24,130406198605270317,0.00,0.00,0.00,189650.61,159991.28,190340.48
7309,2018-03-25,130406198605270317,0.00,0.00,0.00,189650.61,159991.28,190340.48
7611,2018-03-26,130406198605270317,0.00,0.00,0.00,189650.61,159991.28,190340.48
7913,2018-03-27,130406198605270317,0.00,0.00,0.00,189650.61,159991.28,190340.48
8215,2018-03-28,130406198605270317,0.00,0.00,0.00,189650.61,159991.28,190340.48
8517,2018-03-29,130406198605270317,0.00,0.00,0.00,189650.61,159991.28,190340.48
8819,2018-03-30,130406198605270317,0.00,0.00,0.00,189650.61,159991.28,190340.48
...,...,...,...,...,...,...,...,...
37207,2018-07-02,130406198605270317,0.00,0.00,0.00,219973.01,194501.44,240269.21
37509,2018-07-03,130406198605270317,0.00,0.00,0.00,219973.01,194501.44,240269.21
37811,2018-07-04,130406198605270317,0.00,0.00,0.00,219973.01,194501.44,240269.21
38113,2018-07-05,130406198605270317,0.00,0.00,0.00,219973.01,194501.44,240269.21
38415,2018-07-06,130406198605270317,0.00,0.00,0.00,219973.01,194501.44,240269.21
38717,2018-07-07,130406198605270317,0.00,1364.08,1364.08,219973.01,195865.52,241633.29
39019,2018-07-08,130406198605270317,2823.73,0.00,0.00,222796.74,195865.52,241633.29
39321,2018-07-09,130406198605270317,0.00,0.00,0.00,222796.74,195865.52,241633.29
39623,2018-07-10,130406198605270317,0.00,0.00,0.00,222796.74,195865.52,241633.29
39925,2018-07-11,130406198605270317,0.00,0.00,0.00,222796.74,195865.52,241633.29
40227,2018-07-12,130406198605270317,0.00,104.73,1528.81,222796.74,195970.25,243162.10
40529,2018-07-13,130406198605270317,0.00,0.00,0.00,222796.74,195970.25,243162.10
40831,2018-07-14,130406198605270317,0.00,0.00,0.00,222796.74,195970.25,243162.10
41133,2018-07-15,130406198605270317,0.00,0.00,0.00,222796.74,195970.25,243162.10
41435,2018-07-16,130406198605270317,0.00,0.00,0.00,222796.74,195970.25,243162.10
41737,2018-07-17,130406198605270317,0.00,20280.03,20415.03,222796.74,216250.28,263577.13
42039,2018-07-18,130406198605270317,0.00,83.34,200.00,222796.74,216333.62,263777.13
42341,2018-07-19,130406198605270317,0.00,0.00,0.00,222796.74,216333.62,263777.13
42643,2018-07-20,130406198605270317,0.00,0.00,0.00,222796.74,216333.62,263777.13
42945,2018-07-21,130406198605270317,0.00,0.00,0.00,222796.74,216333.62,263777.13
43247,2018-07-22,130406198605270317,0.00,0.00,0.00,222796.74,216333.62,263777.13
43549,2018-07-23,130406198605270317,0.00,0.00,0.00,222796.74,216333.62,263777.13
43851,2018-07-24,130406198605270317,0.00,0.00,0.00,222796.74,216333.62,263777.13
44153,2018-07-25,130406198605270317,0.00,0.00,0.00,222796.74,216333.62,263777.13
44455,2018-07-26,130406198605270317,0.00,0.00,0.00,222796.74,216333.62,263777.13
44757,2018-07-27,130406198605270317,0.00,0.00,0.00,222796.74,216333.62,263777.13
45059,2018-07-28,130406198605270317,0.00,0.00,0.00,222796.74,216333.62,263777.13
45361,2018-07-29,130406198605270317,0.00,0.00,0.00,222796.74,216333.62,263777.13
45663,2018-07-30,130406198605270317,0.00,0.00,0.00,222796.74,216333.62,263777.13
45965,2018-07-31,130406198605270317,0.00,0.00,0.00,222796.74,216333.62,263777.13

- 累加值：还款>充值>账户

In [24]:
gp_tm['累计充值_ok'] = np.where(gp_tm['累计还款'] < gp_tm['累计充值'],gp_tm['累计还款'],gp_tm['累计充值'])
gp_tm['累计投资_ok'] = np.where(gp_tm['累计充值_ok'] < gp_tm['累计投资'],gp_tm['累计充值_ok'],gp_tm['累计投资'])

- 按日汇总数据

In [26]:
res = gp_tm.groupby('时间')['累计还款','累计投资_ok'].sum()
res

                   累计还款      累计投资_ok
时间
2018-03-01   1929871.76    185503.71
2018-03-02   3794937.97    657224.58
2018-03-03   5357580.22   1013945.13
2018-03-04   6052966.69   1216427.47
2018-03-05   7626615.18   1329413.58
2018-03-06   8618113.87   1920812.96
2018-03-07   9885853.73   2210543.30
2018-03-08  10832993.29   2995430.38
2018-03-09  11928018.74   4044344.08
2018-03-10  12540810.91   4272864.50
2018-03-11  13419524.09   4668586.31
2018-03-12  14711910.42   5088384.62
2018-03-13  15880392.57   5756205.18
2018-03-14  16955436.07   6357519.25
2018-03-15  17990219.07   6662233.76
2018-03-16  18565983.02   7355463.77
2018-03-17  19130460.20   7473192.51
2018-03-18  19746807.25   7708990.10
2018-03-19  21324934.64   8274270.77
2018-03-20  22290437.26   8587566.14
2018-03-21  22757450.26   8789736.85
2018-03-22  24719399.44   9496617.30
2018-03-23  25269972.03   9680097.33
2018-03-24  25581724.64  10032690.62
2018-03-25  26129690.75  10185822.76
2018-03-26  26935679.42  10497948.34
2018-03-27  27861571.20  10988203.34
2018-03-28  28763375.76  11671471.92
2018-03-29  29133661.62  12095874.80
2018-03-30  30258092.93  12504652.73
...                 ...          ...
2018-07-02  80253249.39  46300125.74
2018-07-03  80503671.68  46372023.14
2018-07-04  80927655.85  46479916.72
2018-07-05  81065509.51  46583199.28
2018-07-06  81344652.47  46927409.39
2018-07-07  81438172.60  46966419.41
2018-07-08  81531981.24  47012835.82
2018-07-09  81638649.46  47048680.14
2018-07-10  81828254.79  47148947.15
2018-07-11  82056394.28  47260474.41
2018-07-12  82519753.88  47509751.48
2018-07-13  83022673.94  47619612.37
2018-07-14  83199368.68  47821476.24
2018-07-15  83782191.58  48254766.97
2018-07-16  84100268.43  48461185.66
2018-07-17  84465913.03  48842541.37
2018-07-18  84983579.80  49087296.24
2018-07-19  85142124.29  49249177.96
2018-07-20  85366373.03  49511586.72
2018-07-21  85794220.36  49682446.83
2018-07-22  86165632.99  49912225.31
2018-07-23  86657885.71  50185460.92
2018-07-24  87086912.43  50627121.84
2018-07-25  87480900.41  50899446.97
2018-07-26  88102733.76  51281406.65
2018-07-27  88314896.29  51447334.03
2018-07-28  88663869.25  51524428.36
2018-07-29  89076000.55  51634758.43
2018-07-30  89399607.17  51800628.32
2018-07-31  89652549.90  51988244.04

[153 rows x 2 columns]

- 导出结果

In [27]:
res.to_excel('大额用户经典版回款新充投资比.xlsx')