In [12]:
import numpy as np
import pandas as pd
import seaborn as sns

%matplotlib inline

- 导入数据

In [13]:
with pd.ExcelFile(r'C:\Users\Dragon\Downloads\信用飞.xlsx') as xlsx:
    df = pd.read_excel(xlsx)

In [14]:
df.head()

  债权来源 标期限              债权人   标总额                 生效时间
0  信用飞  6月  15867732710|陈美月  1800  2019-03-21 15:02:09
1  信用飞  6月  15924317692|史林阳  1800  2019-03-21 15:02:05
2  信用飞  6月  18500613808|吴恋雄  1700  2019-03-21 15:02:01
3  信用飞  6月   13201889810|胡良  1300  2019-03-21 15:01:58
4  信用飞  6月  13574449640|侯亚芬  1700  2019-03-21 15:01:54

- 整理数据

In [16]:
temp = df['债权人'].str.split('|',expand=True)

In [17]:
temp.head()

             0    1
0  15867732710  陈美月
1  15924317692  史林阳
2  18500613808  吴恋雄
3  13201889810   胡良
4  13574449640  侯亚芬

In [18]:
temp.columns = ['phone','name']

In [19]:
df.drop('债权人',axis=1,inplace=True)

In [21]:
df = df.join(temp)

In [22]:
df.head()

  债权来源 标期限   标总额                 生效时间        phone name
0  信用飞  6月  1800  2019-03-21 15:02:09  15867732710  陈美月
1  信用飞  6月  1800  2019-03-21 15:02:05  15924317692  史林阳
2  信用飞  6月  1700  2019-03-21 15:02:01  18500613808  吴恋雄
3  信用飞  6月  1300  2019-03-21 15:01:58  13201889810   胡良
4  信用飞  6月  1700  2019-03-21 15:01:54  13574449640  侯亚芬

- 查找归属地

In [23]:
from phone import Phone

def get_province(number):
    p  = Phone()
    res = p.find(number)
    return res.get('province')

In [27]:
df['pro'] = df.apply(lambda x:get_province(x['phone']),axis=1)

In [28]:
df.head()

  债权来源 标期限   标总额                 生效时间        phone name pro
0  信用飞  6月  1800  2019-03-21 15:02:09  15867732710  陈美月  浙江
1  信用飞  6月  1800  2019-03-21 15:02:05  15924317692  史林阳  浙江
2  信用飞  6月  1700  2019-03-21 15:02:01  18500613808  吴恋雄  北京
3  信用飞  6月  1300  2019-03-21 15:01:58  13201889810   胡良  陕西
4  信用飞  6月  1700  2019-03-21 15:01:54  13574449640  侯亚芬  湖南

In [29]:
df.to_excel('phone_address.xlsx')